**Lambda Functions:** lambda is reserve keyword in python. One liner function or lambda function or anormous function.

In [ ]:
n = 3
p =2

In [ ]:
def test(n,p):
  return n**p

In [ ]:
test(3,2)

9

In [ ]:
lambda n, p: n**p    # we didn't write the name of function
# we have initialized from lambda

In [ ]:
a = lambda n,p: n**p

In [ ]:
a(3,2)

9

In [ ]:
add = lambda x,y : x+y

In [ ]:
add(4,5)  # we are not giving any name to fn just made and stored. calling through that variable of function object

9

In [ ]:
c_to_f = lambda c : (9/5)*c + 32  # celcius to farrenhite

In [ ]:
c_to_f(45)

113.0

## Finding a maximum of two numbers using a lambda function

In [ ]:
finding_max = lambda x,y : x if x > y else y

In [ ]:
finding_max(34,22)

34

In [ ]:
# write a lamda function which will return the length of the string
s ="sweety"

In [ ]:
find_len = lambda s : len(s)

In [ ]:
find_len(s)

6

In [ ]:
s1 = "my name is sweety"

In [ ]:
find_len = lambda s1 : len(s1)

In [ ]:
find_len(s1)

17